body {
	font-family: "Arial", sans-serif;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
}

.game-grid-container {
	display: grid;
	grid-template-columns: 4% 20% 4% 20% 4% 20% 4% 20% 4%;
	grid-template-rows: 4% 20% 4% 20% 4% 20% 4% 20% 4%;
	width: 550px;
	height: 550px;
	margin: 40px auto;
}

.dot {
	width: 15px;
	height: 15px;

	border-radius: 50px;
	margin: auto;
	background-color: rgb(83, 81, 81);
}

.line-horizontal {
	height: 10px;
	background-color: lightgray;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	margin: auto;
}

.line-vertical {
	height: 100%;
	width: 10px;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 5px;
	margin: auto;
}

.bg-red,
.hover-red:hover {
	background-color: rgb(255, 100, 131);
}

.bg-blue,
.hover-blue:hover {
	background-color: rgb(136, 136, 253);
}

.box {
	width: 100%;
	border-radius: 10%;
}